@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeomatrixLight';
  src: url('/fonts/Friends-Normal.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GeomatrixBold';
  src: url('/fonts/Friends-SemiBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Calvino';
  src: url('/fonts/Calvino-Light-Italic-trial.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'friendsbold';
  src: url('/fonts/Friends-SemiBold.ttf') format('truetype');
  font-style: normal;
}



body {
  background-color: #0a0a0a;
  font-family: 'GeomatrixLight', sans-serif;
}

.geomatrixBold {
  font-family: 'GeomatrixBold', sans-serif;
}

.calvino {
  font-family: 'Calvino', sans-serif;
}

.friendsbold {
  font-family: 'friendsbold', sans-serif;
}

.lineh {
  line-height: 65px;
  letter-spacing: 2px;
}


.border {
  border-width: 0.5px;
  border-color: rgba(110, 110, 110, 0.516);
}

.borderfooter {
  border-width: 0.5px;
  border-color: rgba(110, 110, 110, 0.516);
  border-left: none;
  border-right: none;
}



.borderWhite {
  border: 1px solid rgba(168, 168, 168, 0.579);
  color: white;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}


@media (max-width:800px) {
  .containerForSpot {
    flex-direction: column;
  }
}

@media (max-width:768px) {
  .lineh {
    line-height: 40px;
  }
}