@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #0a0a0a;
  color: rgb;
}

.border {
  border-width: 0.5px;
  border-color: rgba(110, 110, 110, 0.516);
}

.borderfooter {
  border-width: 0.5px;
  border-color: rgba(110, 110, 110, 0.516);
  border-left: none;
  border-right: none;
}

.outfit-text {
  font-family: var(--font-outfit);
}

.josefin-text {
  font-family: var(--font-josefin_sans);
}

.space-grotesk-text {
  font-family: var(--font-space_grotesk);
}


.bebas-neue-text {
  font-family: var(--font-bebas_neue);
}

.borderWhite {
  border: 1px solid rgba(168, 168, 168, 0.579);
  color: white;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}


@media (max-width:800px) {
  .containerForSpot {
    flex-direction: column;
  }
}